<% @omit_header = true %>
<% @omit_footer = true %>

<% content_for :page_title, content_for?(:title) ? yield(:title) : "GOV.UK - The best place to find government services and information" %>

<% content_for :head do %>
  <%= render :partial => 'stylesheet', :locals => { :css_file => local_assigns[:css_file] || 'application' } %>

  <%= render :partial => 'javascript', :locals => { :js_file => local_assigns[:js_file] || 'application' } unless local_assigns[:js_at_the_end] %>
<% end %>

<% content_for :content do %>
  <%= banner_notification %>

  <div id="wrapper" class="group">
    <%= yield :wrapper_content %>
  </div>
<% end %>

<% content_for :body_end do %>
  <%= render :partial => 'javascript', :locals => { :js_file => local_assigns[:js_file] || 'application' } if local_assigns[:js_at_the_end] %>
<% end %>
